  html {
    height: 100%;
    width: 100%;
  }

  body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
  }

  main {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .sidebar {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    height: 100%;
    padding: 10px 10px 10px 10px;
    gap: 20px;
  }

  .playlist-btn {
    width: 80px;
    height: 80px;
    background-image: url('./playlistImages/addPlaylist.png');
    background-size: contain;
    border: none;
    padding: 0;
    margin: 0;
  }

  .playlist-btn:hover {
    cursor: pointer;
  }

  .popup-overlay {
    position: fixed; /* Ensures the popup is fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Full-screen overlay */
    height: 100%; /* Full-screen overlay */
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Dim the background */
    z-index: 1000; /* Ensure it's above other elements */
    display: none;
  }

  .create-playlist-popup {
    position: absolute;
    background-color: rgb(79, 79, 79);
    height: 100px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .create-txt {
    margin: 0 0 10px 0;
    color: rgb(211, 211, 211);
    font-style: bold;
  }

  .playlist-name {
    background-color: rgb(66, 66, 66);
    box-shadow: none;
    border-style: none;
    border-radius: 5px;
    width: 70%;
    height: 30%;
    padding: 10px 10px 10px 10px;
    font-family: monospace;
    color: rgb(211, 211, 211);
  }

  
  .playlist-name:focus {
    box-shadow: none;
    outline: none;
  }